    <!--content-->
    <div class="content"> 
      <!--index columns-->
      <div class="index_subcolumns clearfix"> 
        <!--col_left-->
        <div class="col_left"> 
          <!--category_block-->
          <div class="category_block clearfix">
            <h2><a href="inner2.html">Бытовые кондиционеры</a></h2>
            <div class="row row_2i clearfix"> <a href="" class="item"><img src="/assets/images/_delme.jpg" alt="" /> Сплит системы</a> <a href="" class="item"><img src="/assets/images/_delme.jpg" alt="" /> Мультисплит-системы</a> </div>
            <div class="row clearfix"> <a href="" class="item"><img src="/assets/images/_delme2.jpg" alt="" /> Настенные</a> <a href="" class="item"><img src="/assets/images/_delme2.jpg" alt="" /> Кассетные</a> <a href="" class="item"><img src="/assets/images/_delme2.jpg" alt="" /> Канальные</a> </div>
            <div class="row clearfix"> <a href="" class="item"><img src="/assets/images/_delme2.jpg" alt="" /> Консольные</a> <a href="" class="item"><img src="/assets/images/_delme2.jpg" alt="" /> Напольные</a> <a href="" class="item"><img src="/assets/images/_delme2.jpg" alt="" /> Потолочные</a> </div>
          </div>
          <!--category_block end--> 
          <!--category_list-->
          <div class="category_list clearfix">
            <div class="item clearfix">
              <h2><a href="">Промышленные кондиционеры</a></h2>
              <img src="/assets/images/img2.jpg" alt="" />
              <p>Мультизональные системы VRV-VRF
                Системы Чиллер-Фанкойл
                Центральные кондиционеры 
                Руфтоп, крышные кондиционеры 
                Шкафные кондиционеры
                Прецизионные кондиционеры </p>
            </div>
            <div class="item clearfix">
              <h2><a href="">Вентиляция</a></h2>
              <img src="/assets/images/img3.jpg" alt="" />
              <p>Приточно-вытяжная вентиляция
                Наборные приточно-вытяжные установки </p>
            </div>
          </div>
          <!--category_list end--> 
          <!--other_category-->
          <div class="other_category">
            <div class="col_a">
              <h2><a href="">Электро отопление</a></h2>
              <h2><a href="">Увлажнители</a></h2>
            </div>
            <div class="col__b">
              <h2><a href="">Очистители воздуха</a></h2>
              <h2><a href="">Осушители</a></h2>
            </div>
          </div>
          <!--other_category end-->
          <div class="more_link clearfix"><a href="">каталог оборудования</a></div>
        </div>
        <!--col_left end--> 
        <!--col_right-->
        <div class="col_right"> 
          <!--index-description-->
          <div class="index-description"> Мы специализируемся на работе с торговыми марками надежного, высококачественного  и долговечного <a href="#">климатического оборудования</a>. В первую очередь мы предлагаем вам технику самых известных и проверенных производителей. </div>
          <!--index-description end--> 
          <!--index-brands-banners-->
          <div class="index-brands-banners">
            <div class="row clearfix"><a href=""><img src="/assets/images/brand_1.jpg" alt="" /></a><a href=""><img src="/assets/images/brand_2.jpg" alt="" /></a><a href=""><img src="/assets/images/brand_3.jpg" alt="" /></a><a href=""><img src="/assets/images/brand_4.jpg" alt="" /></a></div>
            <div class="row clearfix"><a href=""><img src="/assets/images/brand_5.jpg" alt="" /></a><a href=""><img src="/assets/images/brand_6.jpg" alt="" /></a><a href=""><img src="/assets/images/brand_7.jpg" alt="" /></a><a href=""><img src="/assets/images/brand_8.jpg" alt="" /></a></div>
            <div class="row clearfix"><a href=""><img src="/assets/images/brand_9.jpg" alt="" /></a><a href=""><img src="/assets/images/brand_10.jpg" alt="" /></a><a href=""><img src="/assets/images/brand_11.jpg" alt="" /></a><a href=""><img src="/assets/images/brand_12.jpg" alt="" /></a></div>
          </div>
          <!--index-brands-banners end--> 
          <!--index-brands-links-->
          <div class="index-brands-links"> <a href="#">2VV</a> <a href="#">AEG</a> <a href="#">AIRSTAGE</a> <a href="#">AIRWELL</a> <a href="#">BALLU</a> <a href="#">BIMATEK</a> <a href="3">BLUE</a> <a href="#">BOX</a> <a href="#">BORK</a> <a href="#">CARRIER</a> <a href="#">CIAT</a> <a href="#">CLIMA</a> <a href="#">VENETA</a> <a href="#">CLIMATECHNICS</a> <a href="#">CLIVET</a> <a href="#">DAEWOO</a> <a href="#">DAIKIN</a> <a href="#">DANTEX</a> <a href="#">DELONGHI</a> <a href="#">DOSPEL</a> <a href="#">DVM</a> <a href="#">ELECTRA</a> <a href="#">ELEKTRA</a> <a href="#">FEROOLLI</a> <a href="#">FLACKTWOODS</a> <a href="#">FUJITSU</a> <a href="#">GENERAL</a> <a href="#">GENERAL</a> <a href="#">CLIMATE</a> <a href="#">GMV</a> <a href="#">GREE</a> <a href="#">GRUNER</a> <a href="#">H-MRV</a> <a href="#">HAIER</a> <a href="#">HITACHI</a> <a href="#">HYUNDAI</a> <a href="#">JAX</a> <a href="#">KENTATSU</a> <a href="#">KOMFOVENT</a> <a href="#">KORF</a> <a href="#">LESSAR</a> <a href="#">LG</a> <a href="#">LIEBERT</a> <a href="#">HIROSS</a> <a href="#">MCQUAY</a> <a href="#">MENERGA</a> <a href="#">MIDEA</a> <a href="#">MITSUBISHI</a> <a href="#">ELECTRIC</a> <a href="#">MITSUBUSHI</a> <a href="#">HEAVY</a> <a href="#">NED</a> <a href="#">OSTBERG</a> <a href="#">PANASONIC</a> <a href="#">REMAK</a> <a href="#">ROVER</a> <a href="#">ROYAL</a> <a href="#">CLIMA</a> <a href="#">SALDA</a> <a href="#">SAMSUNG</a> <a href="#">SANYOACSON</a> <a href="#">SHUFT</a> <a href="#">SIEMENS</a> <a href="#">SUPER</a> <a href="#">MMS</a> <a href="#">SWEGON</a> <a href="#">SYSTEMAIR</a> <a href="#">TECHAIR</a> <a href="#">THERMOCOLD</a> <a href="#">TOSHIBA</a> <a href="#">UNIFLAIR</a> <a href="#">VTS</a> <a href="#">WEGER</a> <a href="#">Weiss klimatechnik</a> <a href="#">WENTERRADELONICS</a> <a href="#">WESPER</a> <a href="#">WOLF</a> <a href="#">YORK</a> <a href="#">АРКТОС</a> <a href="#">Евровент</a> <a href="#">ЛИССАНТ</a></div>
          <!--index-brands-links end-->
          <div class="more_link clearfix"><a href="">производители</a></div>
        </div>
        <!--col_right end--> 
      </div>
      <!--index columns end-->
      <div class="bottom_banner">
      
      <div class="title"><strong>Современные<br />
VRV и VRF решения</strong>
по кондиционированию
и вентиляции
на базе VRV и VRF-систем</div>
<div class="prods_list clearfix">

<a href="" class="item"><img src="/assets/images/banner_img1.png" alt="" />
больших квартир<br />
и коттеджей
</a>

<a href="" class="item"><img src="/assets/images/banner_img2.png" alt="" />
банков<br />
и офисов
</a>

<a href="" class="item"><img src="/assets/images/banner_img3.png" alt="" />
гостиниц<br />
и магазинов
</a>

<a href="" class="item"><img src="/assets/images/banner_img4.png" alt="" />
ресторанов<br />
и точек питания
</a>

<a href="" class="item"><img src="/assets/images/banner_img5.png" alt="" />
производственных<br />
помещений
</a>

</div>



      
      
      
      </div>
      <!--bottom_news-->
      <div class="bottom_news clearfix">
        <div class="c">
          <div class="item"> <a href=""><img src="/assets/images/img.jpg" alt="" /></a>
            <div class="item_title"><a href="">заголовки Здесь можно разные</a></div>
            <div class="item_desc clearfix">
              <p>Текст инфоблока, расска-
                зывающий о преимущест-
                вах того или иного товара
                или раздела на сайте</p>
              <a href="">ПОДРОБНЕЕ</a> </div>
          </div>
          <div class="item"> <a href=""><img src="/assets/images/img.jpg" alt="" /></a>
            <div class="item_title"><a href="">заголовки Здесь можно разные</a></div>
            <div class="item_desc clearfix">
              <p>Текст инфоблока, расска-
                зывающий о преимущест-
                вах того или иного товара
                или раздела на сайте</p>
              <a href="">ПОДРОБНЕЕ</a> </div>
          </div>
         <div class="item"> <a href=""><img src="/assets/images/img.jpg" alt="" /></a>
            <div class="item_title"><a href="">заголовки Здесь можно разные</a></div>
            <div class="item_desc clearfix">
              <p>Текст инфоблока, расска-
                зывающий о преимущест-
                вах того или иного товара
                или раздела на сайте</p>
              <a href="">ПОДРОБНЕЕ</a> </div>
          </div>
          <div class="item"> <a href=""><img src="/assets/images/img.jpg" alt="" /></a>
            <div class="item_title"><a href="">заголовки Здесь можно разные</a></div>
            <div class="item_desc clearfix">
              <p>Текст инфоблока, расска-
                зывающий о преимущест-
                вах того или иного товара
                или раздела на сайте</p>
              <a href="">ПОДРОБНЕЕ</a> </div>
          </div>
         <div class="item"> <a href=""><img src="/assets/images/img.jpg" alt="" /></a>
            <div class="item_title"><a href="">заголовки Здесь можно разные</a></div>
            <div class="item_desc clearfix">
              <p>Текст инфоблока, расска-
                зывающий о преимущест-
                вах того или иного товара
                или раздела на сайте</p>
              <a href="">ПОДРОБНЕЕ</a> </div>
          </div>
        </div>
      </div>
      <!--bottom_news end--> 
    </div>
    <!--content end--> 


<%= render "article" %>
