        <div class="category_brand"> <img src="/assets/images/brand_1.jpg" alt="" /> VRV-системы<br />
          <a x_href="">DAIKIN</a><br />
          Мощность<br />
          от 10 до 50квт.
        </div>

        <div class="bottom_news rightcol_news clearfix">
          <div class="c">
            <div class="item"> <a x_href=""><img alt="" src="/assets/images/solutionspic/vrv/review/bann170_vrv_iv.jpg" /></a>
            <div class="item_title"><a x_href="">VRV-4. DAIKIN. Япония. </a></div>
            <div class="item_desc clearfix">
              <p>В 2012 году на рынок вышла самая ультрасовременная мультизональная система.
              </p>
              <!-- a href="">ПОДРОБНЕЕ</a -->
            </div>
          </div>
            <div class="item"> <a x_href=""><img alt="" src="/assets/images/solutionspic/vrv/review/bann170_vrv_iii.jpg" />
</a>
            <div class="item_title"><a x_href="">VRV-3 уверенно лидирует в классе мультизональных кондиционеров. </a></div>
            <div class="item_desc clearfix">
              <p>Отличается надежностью, экономичностью и развитой системой сервиса.
              </p>
              <!-- a href="">ПОДРОБНЕЕ</a -->
            </div>
          </div>
            <div class="item"> <a x_href=""><img alt="" src="/assets/images/solutionspic/vrv/review/bann170_hi-vrv.jpg" /></a>
            <div class="item_title"><a x_href="">Система Hi-VRV </a></div>
            <div class="item_desc clearfix">
              <p>
              </p>
              <!-- a href="">ПОДРОБНЕЕ</a -->
            </div>
          </div>


        </div>
      </div>


<% if false -%>
        <div class="category_brand"> <img src="/assets/images/brand_1.jpg" alt="" /> Серия системы<br />
          <a href="">DAIKIN</a><br />
          Мощность<br />
          от 4 до 10квт.
          </div>
        <div class="bottom_news rightcol_news clearfix">
          <div class="c">
            <div class="item"> <a href=""><img src="/assets/images/img.jpg" alt="" /></a>
            <div class="item_title"><a href="">заголовки Здесь можно разные</a></div>
            <div class="item_desc clearfix">
              <p>Текст инфоблока, расска-
                зывающий о преимущест-
                вах того или иного товара
                или раздела на сайте</p>
              <a href="">ПОДРОБНЕЕ</a> </div>
          </div>
            <div class="item"> <a href=""><img src="/assets/images/img.jpg" alt="" /></a>
            <div class="item_title"><a href="">заголовки Здесь можно разные</a></div>
            <div class="item_desc clearfix">
              <p>Текст инфоблока, расска-
                зывающий о преимущест-
                вах того или иного товара
                или раздела на сайте</p>
              <a href="">ПОДРОБНЕЕ</a> </div>
          </div>
            <div class="item"> <a href=""><img src="/assets/images/img.jpg" alt="" /></a>
            <div class="item_title"><a href="">заголовки Здесь можно разные</a></div>
            <div class="item_desc clearfix">
              <p>Текст инфоблока, расска-
                зывающий о преимущест-
                вах того или иного товара
                или раздела на сайте</p>
              <a href="">ПОДРОБНЕЕ</a> </div>
          </div>
          </div>
        </div>
<% end -%>
