<div class="bottom_banner">

<div class="title"><strong>Современные<br />
VRV и VRF решения</strong>
по кондиционированию
и вентиляции
на базе VRV и VRF-систем</div>
<div class="prods_list clearfix">

<a href="" class="item"><img src="/assets/images/banner_img1.png" alt="" />
больших квартир<br />
и коттеджей
</a>

<a href="" class="item"><img src="/assets/images/banner_img2.png" alt="" />
банков<br />
и офисов
</a>

<a href="" class="item"><img src="/assets/images/banner_img3.png" alt="" />
гостиниц<br />
и магазинов
</a>

<a href="" class="item"><img src="/assets/images/banner_img4.png" alt="" />
ресторанов<br />
и точек питания
</a>

<a href="" class="item"><img src="/assets/images/banner_img5.png" alt="" />
производственных<br />
помещений
</a>

</div>
</div>