<% if false -%>
      <!--bottom_news-->
      <div class="bottom_news clearfix">
        <div class="c">
          <div class="item"> <a href=""><img src="/assets/images/img.jpg" alt="" /></a>
            <div class="item_title"><a href="">заголовки Здесь можно разные</a></div>
            <div class="item_desc clearfix">
              <p>Текст инфоблока, расска-
                зывающий о преимущест-
                вах того или иного товара
                или раздела на сайте</p>
              <a href="">ПОДРОБНЕЕ</a> </div>
          </div>
          <div class="item"> <a href=""><img src="/assets/images/img.jpg" alt="" /></a>
            <div class="item_title"><a href="">заголовки Здесь можно разные</a></div>
            <div class="item_desc clearfix">
              <p>Текст инфоблока, расска-
                зывающий о преимущест-
                вах того или иного товара
                или раздела на сайте</p>
              <a href="">ПОДРОБНЕЕ</a> </div>
          </div>
         <div class="item"> <a href=""><img src="/assets/images/img.jpg" alt="" /></a>
            <div class="item_title"><a href="">заголовки Здесь можно разные</a></div>
            <div class="item_desc clearfix">
              <p>Текст инфоблока, расска-
                зывающий о преимущест-
                вах того или иного товара
                или раздела на сайте</p>
              <a href="">ПОДРОБНЕЕ</a> </div>
          </div>
          <div class="item"> <a href=""><img src="/assets/images/img.jpg" alt="" /></a>
            <div class="item_title"><a href="">заголовки Здесь можно разные</a></div>
            <div class="item_desc clearfix">
              <p>Текст инфоблока, расска-
                зывающий о преимущест-
                вах того или иного товара
                или раздела на сайте</p>
              <a href="">ПОДРОБНЕЕ</a> </div>
          </div>
         <div class="item"> <a href=""><img src="/assets/images/img.jpg" alt="" /></a>
            <div class="item_title"><a href="">заголовки Здесь можно разные</a></div>
            <div class="item_desc clearfix">
              <p>Текст инфоблока, расска-
                зывающий о преимущест-
                вах того или иного товара
                или раздела на сайте</p>
              <a href="">ПОДРОБНЕЕ</a> </div>
          </div>
        </div>
      </div>
      <!--bottom_news end--> 
<% end -%>
