        <ul class="catalog">
          <li> <a href="" class="active">Бытовые кондиционеры</a>
            <ul>
              <li><a href="">Сплит-системы</a></li>
              <li><a href="">Мультисплит-системы</a>
                <ul>
                  <li><a href="">Настенные </a></li>
                  <li><a href="">Кассетные</a></li>
                  <li><a href="">Канальные</a></li>
                  <li><a href="">Консольные</a></li>
                  <li><a href="">Напольные</a></li>
                  <li><a href="">Потолочные</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li> <a href="">Промышленные кондиционеры</a>
            <ul>
              <li><a href="">Мультизональные системы VRV-VRF</a></li>
              <li><a href="">Системы Чиллер-Фанкойл</a></li>
              <li><a href="">Центральные кондиционеры </a></li>
              <li><a href="">Руфтоп, крышные кондиционеры </a></li>
              <li><a href="">Шкафные кондиционеры</a></li>
              <li><a href="">Прецизионные кондиционеры</a></li>
            </ul>
          </li>
          <li> <a href="">Вентиляция</a>
            <ul>
              <li><a href="">Приточно-вытяжная вентиляция</a></li>
              <li><a href="">Наборные приточно-вытяжные установки</a></li>
            </ul>
          </li>
          <li> <a href="">Электро отопление</a>
            <ul>
              <li><a href="">Приточно-вытяжная вентиляция</a></li>
              <li><a href="">Наборные приточно-вытяжные установки</a></li>
            </ul>
          </li>
          <li> <a href="">Увлажнители</a>
            <ul>
              <li><a href="">увлажнители</a></li>
            </ul>
          </li>
          <li> <a href="">Очистители воздуха</a>
            <ul>
              <li><a href="">очистители</a></li>
            </ul>
          </li>
          <li> <a href="">Осушители</a>
            <ul>
              <li><a href="">осушители</a></li>
            </ul>
          </li>
        </ul>
  