        <ul class="catalog ">
          <li> <a href="">DAIKIN</a>
            <ul>
              <li><a href="">Мультисплит-системы</a>
                <ul>
                  <li><a href="">Настенные </a>
                    <ul>
                      <li><a href="">XCVRTY</a></li>
                      <li><a href="">XCVRTY</a></li>
                      <li><a href="">XCVRTY</a></li>
                      <li><a href="">XCVRTY</a></li>
                    </ul>
                  </li>
                  <li><a href="">Настенные </a>
                    <ul>
                      <li><a href="">XCVRTY</a></li>
                      <li><a href="">XCVRTY</a></li>
                      <li><a href="">XCVRTY</a></li>
                      <li><a href="">XCVRTY</a></li>
                    </ul>
                  </li>
                  <li><a href="">Настенные </a>
                    <ul>
                      <li><a href="">XCVRTY</a></li>
                      <li><a href="">XCVRTY</a></li>
                      <li><a href="">XCVRTY</a></li>
                      <li><a href="">XCVRTY</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="">Мультисплит-системы всех марок</a></li>
            </ul>
          </li>
        </ul>
