    <!--content-->
    <div class="inner_columns clearfix"> 
      <!--index columns-->
      
      <div class="catalog_link"><a href="">КАТАЛОГ КЛИМАТИЧЕСКОГО ОБОРУДОВАНИЯ КОМПАНИИ DAIKIN</a></div>
      <div class="col_a">
        <ul class="catalog">
          <li> <a href="">Бытовые кондиционеры</a>
            <ul>
              <li><a href="">Сплит-системы</a></li>
              <li><a href="">Мультисплит-системы</a></li>
              <li><a href="">Настенные </a></li>
              <li><a href="">Кассетные</a></li>
              <li><a href="">Канальные</a></li>
              <li><a href="">Консольные</a></li>
              <li><a href="">Напольные</a></li>
              <li><a href="">Потолочные</a></li>
            </ul>
          </li>
          <li> <a href="">Промышленные кондиционеры</a>
            <ul>
              <li><a href="">Мультизональные системы VRV-VRF</a></li>
              <li><a href="">Системы Чиллер-Фанкойл</a></li>
              <li><a href="">Центральные кондиционеры </a></li>
              <li><a href="">Руфтоп, крышные кондиционеры </a></li>
              <li><a href="">Шкафные кондиционеры</a></li>
              <li><a href="">Прецизионные кондиционеры</a></li>
            </ul>
          </li>
          <li> <a href="">Вентиляция</a>
            <ul>
              <li><a href="">Приточно-вытяжная вентиляция</a></li>
              <li><a href="">Наборные приточно-вытяжные установки</a></li>
            </ul>
          </li>
          <li> <a href="">Электро отопление</a>
            <ul>
              <li><a href="">Приточно-вытяжная вентиляция</a></li>
              <li><a href="">Наборные приточно-вытяжные установки</a></li>
            </ul>
          </li>
          <li> <a href="">Увлажнители</a>
            <ul>
              <li><a href="">Приточно-вытяжная вентиляция</a></li>
              <li><a href="">Наборные приточно-вытяжные установки</a></li>
            </ul>
          </li>
          <li> <a href="">Очистители воздуха</a>
            <ul>
              <li><a href="">Приточно-вытяжная вентиляция</a></li>
              <li><a href="">Наборные приточно-вытяжные установки</a></li>
            </ul>
          </li>
          <li> <a href="">Осушители</a>
            <ul>
              <li><a href="">Приточно-вытяжная вентиляция</a></li>
              <li><a href="">Наборные приточно-вытяжные установки</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col_b">
        <div class="catalog_brand_page">

        <!--
          <div class="brandd_logo"><img src="/assets/images/brand_1_1.jpg" alt="" /></div>
          <img src="/assets/images/del.jpg" alt="" /> <img src="/assets/images/del.jpg" alt="" /> <img src="/assets/images/del.jpg" alt="" />
          <p><strong>Текст который рассказывает</strong> об этом бренде самые хорошие вещи. Который рассказывает об этом бренде самые хорошие вещи. Текст Рассказывает об этом бренде самые хорошие вещи. Текст который Об этом бренде самые самые хорошие вещи. Текст который рассказывает об этом бренде самые хорошие вещи. Текст который рассказывает об этом бренде самые самыехорошие вещи.Текст который рассказывает об этом бренде самые хорошие вещи.</p>
          <img src="/assets/images/del2.jpg" alt="" />
          <p><strong>Текст который рассказывает</strong> об этом бренде самые хорошие вещи. Который рассказывает об этом бренде самые хорошие вещи. Текст Рассказывает об этом бренде самые хорошие вещи. Текст который Об этом бренде самые самые хорошие вещи. Текст который рассказывает об этом бренде самые хорошие вещи. Текст который рассказывает об этом бренде самые самыехорошие вещи.Текст который рассказывает об этом бренде самые хорошие вещи.</p>
          
        -->
        </div>
      </div>
      <!--index columns end-->
      
      <%#= render "shared/banners_bottom_vrv" -%>

    </div>
    <!--content end--> 
