  <!--wrap-->
  <div id="wrap" class="col3_layout col2_layout2 clearfix">
    <!--content-->
    <div class="content clearfix">
      <div class="col_a col_a_catalog">

        <%= render "shared/menu_left_page" -%>

        <%#= render "shared/menu_left_yellow" -%>
        
        <%= render "shared/banners_left_yellow" -%>

      </div>
      <div class="col_b clearfix">
        <div class="catitem_description">

          <% if @article.body !~ /<[h|H]1>/ %>
          <h1><%= @article.title  -%></h1>
          <% end %>

          <% tx = '<p class="salephone">Консультация и подбор оборудования по телефону: 8 (495) 662-58-76</p>'
             if @article and @article.body
                @article.body.gsub!(/<!--salephone-->/, tx)
             end
          -%>
          <%#= @article.preview   -%>
          <%= raw @article.body   -%>

        </div>
      </div>
    </div>
    
    <!--content end--> 
  </div>
  <!--wrap end--> 



