<h1>Brands#page</h1>
<p>Find me in app/views/brands/page.html.erb</p>



<hr>
<%= @article.title  -%> /// <%= @article.meta_tag.url  -%>

<hr>
<%= @article.preview   -%>

<hr>
<%= raw @article.body   -%>

<hr>

