<hr>
  <!--CF-->
  <div id="clrf">&nbsp;</div>
  <!--CF end--> 
</div>
<!--layout end--> 

<!--footer-->
<div id="footer" class="clearfix">
  <div class="c clearfix">
    <div class="contacts">
      <div class="copy">&copy; 2006 ― 2012. Климатическая компания &laquo;Путь Ветра&raquo;</div>
      г. Москва, пр. Большой Ордынки, д. 75, офис 7<br />
      Телефон/факс: (495) 662-58-76 <br />
      E-mail: <a href="">mail@putivetra.ru</a> <br />
      <a href="">Информация о сайте</a> </div>
    <div class="stats"> <span class="stats_title">Статистика сайта:</span><br />
      Производителей: 30<br />
      Брендов и ТМ: 35<br />
      Видов оборудования: 500<br />
      Номиналов техники: 2500<br />
      <a href="">вся статистика</a> </div>
    <ul class="links">
      <li><a href="">Мультизональные системы VRV</a></li>
      <li><a href="">VRF- системы</a></li>
      <li><a href="">Монтаж кондиционеров</a></li>
      <li><a href="">Кондиционеры для серверов</a></li>
      <li><a href="">Аренда кондиционеров</a></li>
      <li><a href="">Заправка кондиционера</a></li>
    </ul>
    <ul class="links last">
      <li><a href="">Daikin фанкойл</a></li>
      <li><a href="">Обслуживание кондиционирования</a></li>
      <li><a href="">Обслуживание чиллера</a></li>
      <li><a href="">Обслуживание сплит-систем</a></li>
      <li><a href="">VRF Fujitsu</a></li>
      <li><a href="">Системы VRV</a></li>
    </ul>
  </div>
</div>
<!--footer end-->

</body>
</html>
