  <!--CF-->
  <div id="clrf">&nbsp;</div>
  <!--CF end--> 
</div>
<!--layout end--> 

<!--footer-->
<div id="footer" class="clearfix">
  <div class="c clearfix">
    <div class="contacts">
      <div class="copy">&copy; 2007 ― 2012. Климатическая компания &laquo;Пути Ветра&raquo;</div>
      г. Москва, 6-й Новоподмосковный переулок, д.7 <br />
      Телефон/факс: 8 (495) 662-58-76 <br />
      E-mail: <a href="mailto:sale@putivetra.ru">sale@putivetra.ru</a> <br />
      <!-- <a href="">Информация о сайте</a> -->

<br />
<!--LiveInternet counter--><script
	type="text/javascript">
	document.write("<a href='http://www.liveinternet.ru/click' "
			+ "target=_blank><img src='//counter.yadro.ru/hit?t58.2;r"
			+ escape(document.referrer)
			+ ((typeof (screen) == "undefined") ? "" : ";s"
					+ screen.width
					+ "*"
					+ screen.height
					+ "*"
					+ (screen.colorDepth ? screen.colorDepth
							: screen.pixelDepth)) + ";u" + escape(document.URL)
			+ ";" + Math.random() + "' alt='' title='LiveInternet' "
			+ "border='0' width='88' height='31'><\/a>")
	//-->
</script><!--/LiveInternet-->

      </div>
    <div class="stats"> <!-- <span class="stats_title">Статистика сайта:</span><br />
      Производителей: 30<br />
      Брендов и ТМ: 35<br />
      Видов оборудования: 500<br />
      Номиналов техники: 2500<br />
      <a href="">вся статистика</a> -->
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
    <ul class="links">
      <li><a href="/vrv.html">Мультизональные системы VRV</a></li>
      <li><a href="/vrf-sistemi.html">VRF-системы</a></li>
      <li><a href="/montaj_kondicionerov-p23.html">Монтаж кондиционеров</a></li>
      <li><a href="/kondicioneri_dlya_serverov-p24.html">Кондиционеры для серверов</a></li>
      <li><a href="/arenda_kondicionerov-p99.html">Аренда кондиционеров</a></li>
      <li><a href="/zapravka-kondicionera.html">Заправка кондиционера</a></li>
    </ul>
    <ul class="links last">
      <li><a href="/daikin-fankoil.html">Daikin фанкойл</a></li>
      <li><a href="/servis-kondicionerov.html">Обслуживание кондиционирования</a></li>
      <li><a href="/servisnoe-obsluzhivanie-chillerov.html">Обслуживание чиллера</a></li>
      <li><a href="/obsluzhivanie-split-sistem.html">Обслуживание сплит-систем</a></li>
      <li><a href="/vrf-fujitsu.html">VRF Fujitsu</a></li>
      <li><a href="/vrv.html">Системы VRV</a></li>
    </ul>
  </div>
</div>
<!--footer end-->

</body>
</html>
